.app {
	overflow: hidden;
}

.announcement {
	position: fixed;
	top: 0;
	z-index: 999;
	height: 48px;
}

.announcement img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* header */
.header {
	position: fixed;
	top: 48px;
	background-color: #fff;
	width: 100%;
	z-index: 999;
}
.scroll {
	border-bottom: 1px #dde1ef solid;
	box-shadow: 0 0 10px #d9d9d9;
}
.header_navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_navbar-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-icon {
	margin-right: 5px;
}
.username {
	font-size: 14px;
	font-weight: 500;
	margin-right: 5px;
}
.logout {
	font-size: 14px;
	margin-left: 5px;
	margin-right: 10px;
}
.logout:hover {
	color: var(--primary-color);
}
.header_navbar-info-item {
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-size: 12px;
	height: 100%;
}

.header_navbar-info-item-icon {
	margin-right: 10px;
	font-size: 16px;
}

.header_navbar-info-item span {
	color: var(--primary-color);
	padding: 0 5px;
	font-size: 14px;
	font-weight: 700;
}

.free {
	padding: 2px 6px;
	color: var(--white-color);
	background-color: #ee4d2d;
	border-radius: 10px;
}

.header_navbar-info-search {
	border: 0.5px solid lightgray;
	display: flex;
	align-items: center;
	margin-top: 5px;
	padding-left: 10px;
	border-radius: 8px;
	font-size: 16px;
	height: 38px;
	min-height: 38px;
	line-height: 38px;
	overflow: hidden;
	margin-right: 20px;
	cursor: pointer;
}

.header_navbar-info-search input {
	border: none;
	padding-right: 150px;
}

.header_navbar-info-search input:focus {
	border: none;
	outline: none;
}

.header_navbar-info-search:hover {
	border-color: var(--primary-color);
}

.header_navbar-info-search-icon {
	padding: 20px;
	color: #fff;
	background-color: var(--primary-color);
	border: none;
	cursor: pointer;
}

.header_navbar-info-item {
	font-size: 14px;
	cursor: pointer;
}

.header_navbar-info-item-separate {
	width: 1px;
	height: 25px;
	background-color: black;
}

.header_navbar-menu-option {
	display: flex;
	align-items: center;
}

.header_navbar-logo {
	width: 110px;
	height: 54px;
	margin-left: 10px;
	margin-top: -10px;
}

.header_navbar-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header_navbar-menu {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 30px;
}

.header_navbar-menu-item {
	padding: 0 10px;
}

.header_navbar-menu-item a {
	position: relative;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	color: black;
	padding: 5px 0;
}

.special a {
	color: red;
}

.underline-menu {
	position: absolute;
	width: 0;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: var(--primary-color);
	transition: 0.4s;
}

.header_navbar-menu-item:hover .underline-menu {
	width: 100%;
	right: 0;
}
.search-tablet {
	display: none;
}
.header_navbar-cart {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 10px;
	margin-top: 15px;
	cursor: pointer;
}
.header_navbar-cart-icon {
	position: relative;
}
.cart-amount {
	position: absolute;
	top: 0;
	right: -10px;
	color: #fff;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	text-align: center;
	width: 20px;
	height: 20px;
}
.header_navbar-cart span {
	font-size: 14px;
	margin-left: 15px;
}

.header_navbar-cart:hover .cart {
	color: var(--primary-color);
}

.cart-container {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 5;
	background-color: #fff;
	min-width: 500px;
	display: none;
}

.cart-container-list {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
}

.cart-container-option {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 16px;
	padding: 20px 0;
}

.cart-container-option a {
	line-height: 1.3;
}

.cart-container-option a:hover {
	color: var(--primary-color);
}

.header_navbar-cart:hover .cart-container {
	display: block;
}
.mess {
	display: none;
}
/* submenu */
.header-submenu {
	z-index: 999;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	display: none;
}

.header-submenu_container {
	padding: 10px 30px 50px;
	display: grid;
	grid-template-columns: 80% 20%;
}

.header-submenu_container-list {
	display: grid;
	gap: 10px;
	row-gap: 30px;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.header-submenu_container-list-cate {
	display: flex;
	flex-direction: column;
}

.header-submenu_container-list-cate h1,
.header-submenu_container-list-cate h2 {
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px 0;
}

.header-submenu_container-list-cate h1 a {
	color: red;
}

.header-submenu_container-list-cate span a {
	line-height: 2.5;
	position: relative;
	font-size: 14px;
}

.new,
.status {
	position: absolute;
	top: -18px;
	right: -32px;
	font-weight: 500;
	text-transform: uppercase;
}

.status {
	color: var(--primary-color);
}

.new {
	color: #2a2ace;
}

.header-submenu_container-list-cate h2 a:hover,
.header-submenu_container-list-cate span a:hover {
	color: var(--primary-color);
}

.header-submenu_container-img {
	width: 100%;
	height: 80%;
}

.header-submenu_container-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header-menu-tablet {
	display: none;
}
/* container */
.container {
	position: relative;
	margin-top: 139px;
}

.modal-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 0.4);
	z-index: 199;
	display: none;
}
.container h1 {
	text-align: center;
	font-size: 25px;
	padding: 10px 0;
}
.category-container {
	padding: 0 20px;
	margin-bottom: 20px;
}
.title-category,
.main-category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	background-color: #f8f8f8;
	border-bottom: 2px solid #fff;
}
.title-category {
	padding-left: 20px;
}
.category {
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
	max-height: 220px;
	overflow-y: scroll;
}
.category-item {
	border-bottom: 2px solid #fff;
	font-size: 14px;
	padding: 10px 0;
	padding-left: 30px;
	position: relative;
}
.icon-sub,
.icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.up-sub,
.up {
	display: none;
}
.down-sub,
.down {
	display: block;
}
.sub-more .down-sub,
.more .down {
	display: none;
}
.sub-more .up-sub,
.more .up {
	display: block;
}
.category,
.sub-category {
	display: none;
	transition: Top 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
	animation: SlipDown ease-in 0.5s;
}
.category::-webkit-scrollbar {
	width: 6px;
}
.category::-webkit-scrollbar-track {
	background-color: #dde1ef;
	border-radius: 10px;
}
.category::-webkit-scrollbar-thumb {
	background: #7a7a9d;
	border-radius: 10px;
}
.sub-show {
	display: flex;
}
.show {
	display: block;
}
.new,
.status {
	position: absolute;
	top: -18px;
	right: -32px;
	font-weight: 500;
	text-transform: uppercase;
}
.status {
	color: var(--primary-color);
}
.new {
	color: #2a2ace;
}
/* footer */
.footer {
	background-color: #2a2a86;
}

.footer-container {
	padding-top: 25px;
	padding-bottom: 30px;
	margin: 0 10px;
	display: grid;
	grid-template-columns: 35% 20% 20% 25%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo-footer {
	display: none;
}
.footer-container-col {
	margin-right: 70px;
}

.footer-container-col:last-child {
	margin-right: 0;
}
.footer-container-col span,
.footer-container-col p {
	color: white;
	font-size: 16px;
}

.footer-container-col h1 {
	color: white;
	margin-top: 40px;
	font-size: 16px;
	font-weight: 300;
}

.footer-input {
	display: flex;
	align-items: center;
	width: 100%;
}

.footer-input input {
	flex: 6;
	border: 1px solid white;
	padding: 15px 30px 15px 20px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.3);
	color: white;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.footer-input input::placeholder {
	color: white;
}

.footer-input input:focus {
	outline: none;
}

.footer-input-submit {
	flex: 3;
	background-color: white;
	color: var(--primary-color);
	line-height: 50.4px;
	text-align: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.footer-social {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.footer-social-link {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	transition: all 0.3s;
}

.footer-social-link img {
	width: 100%;
	height: 100%;
}

.footer-social-link:hover {
	transform: rotate(30deg);
}

.footer-container-col h3 {
	color: white;
	font-size: 16px;
	margin: 0;
	margin-bottom: 20px;
}

.footer-container-col-items {
	line-height: 1.6;
	font-weight: 300;
	cursor: pointer;
}

.footer-container-col-items:hover {
	color: var(--primary-color);
}

.footer-container-col-info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.footer-container-col-info:last-child {
	margin-top: 30px;
}

.footer-container-col-info img {
	margin-right: 10px;
}

.footer-container-col-info-text {
	color: white;
	font-size: 16px;
	line-height: 1.6;
}

.copyright {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
	color: white;
}

.copyright span {
	color: var(--primary-color);
}

.active {
	display: block;
}

/* scroll to top */
.to-top {
	position: fixed;
	background-color: #ee4d2d;
	color: #fff;
	bottom: 0;
	right: 25px;
	width: 40px;
	height: 40px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}

.to-top-active {
	opacity: 1;
	pointer-events: auto;
}

/* list all products */
.title-list-all-products {
	padding: 25px 0 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
li {
	padding: 10px 0px;
	border: solid 1px #dde1ef;
	border-radius: 4px;
	margin: 0 5px;
	cursor: pointer;
	font-size: 14px;
}
li a {
	padding: 10px 15px;
}
.pagination_active {
	background-color: var(--primary-color);
	border: transparent;
}
.pagination_active a {
	color: #fff;
}
@keyframes SlipDown {
	from {
		display: none;
	}
	to {
		display: block;
	}
}
