@media (max-width: 1023px) {
	.announcement,
	.info {
		display: none;
	}
	.header_navbar-res-tablet {
		height: 54px;
		top: 0;
	}
	.header_navbar {
		max-width: 720px;
		margin: 0 auto;
		height: 100%;
	}
	.header_navbar-menu-option {
		height: 100%;
		width: 100%;
	}
	.header_navbar-logo {
		margin-left: 0;
		margin-top: 0;
		width: 75px;
		height: 54px;
		flex: 1;
	}
	.header_navbar-logo img {
		object-fit: contain;
	}
	.header_navbar-menu {
		display: none;
	}
	.search-tablet {
		display: flex;
		flex: 8;
		margin: 0 20px;
		height: 100%;
		padding: 10px 0;
	}
	.search-res {
		display: flex;
		width: 100%;
	}
	.title-search {
		padding-top: 20px;
	}
	.search-tablet-icon {
		height: 100%;
		padding: 10px;
		display: flex;
		align-items: center;
		font-size: 16px;
		border: 1px solid transparent;
		border-right: none;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		background-color: #f8f8f8;
	}
	.search-tablet-input {
		width: 100%;
		height: 100%;
	}
	.search-tablet-input input {
		width: 100%;
		height: 100%;
		border: none;
		background-color: #f8f8f8;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.search-tablet-input input:focus {
		border: none;
		outline: none;
	}
	.header_navbar-cart {
		height: 100%;
		margin: 0;
	}
	.header_navbar-cart:hover .cart-container {
		display: none;
	}
	.cart {
		display: none;
	}
	.cart-container {
		display: none;
	}
	.mess {
		display: block;
		height: 100%;
		margin-left: 20px;
	}
	.mess img {
		width: 60%;
		height: 100%;
		object-fit: contain;
	}

	.header-menu-tablet {
		display: block;
		position: fixed;
		bottom: 0;
		z-index: 999;
		background-color: #fff;
		box-shadow: 0 3px 25px 0 rgb(31 38 67 / 10%);
		width: 100%;
	}
	.header-menu-tablet-list {
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
	}
	.header-menu-tablet-items {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header-menu-tablet-items div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-menu-tablet-items span {
		font-size: 12px;
		color: #8a8a8f;
	}
	.tab-container {
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding-top: 30px;
	}
	.tab-container-items {
		flex: 1;
		text-align: center;
		font-size: 16px;
		padding: 10px 0;
		border-bottom: 2px solid transparent;
	}
	.tab-container-active {
		color: var(--primary-color);
	}
	.line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 2px;
		background-color: var(--primary-color);
		transition: all 0.2s ease;
	}
	.Featured-category {
		display: none;
	}
	.tab-content {
		display: block;
		max-width: 720px;
		margin: 0 auto;
	}
	.tab-content-list {
		display: none;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
	}
	.tab-content-active {
		display: flex;
	}
	.tab-content-list-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	.tab-content-list-item:hover span {
		color: var(--primary-color);
	}
	.tab-content-list-item div {
		width: 60px;
		height: 60px;
		margin-bottom: 10px;
		background: #feecc7;
		border-radius: 50%;
	}
	.tab-content-list-item div img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.tab-content-list-item span {
		font-size: 14px;
	}

	.active-menu-tablet span {
		color: var(--primary-color);
	}
	.menu-active {
		display: none;
	}

	.active-menu-tablet .menu-active {
		display: block;
	}

	.active-menu-tablet .none-active {
		display: none;
	}

	.to-top {
		display: none;
	}
	.footer-container {
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	.respon-tablet-1 {
		width: 100%;
	}
	.respon-tablet-2,
	.respon-tablet-3,
	.respon-tablet-4 {
		flex: 1;
		margin-top: 20px;
	}

	/* login responsive */
	.login-container {
		display: none;
	}
	.register-container-res,
	.login-container-res {
		display: block;
	}
	.register-container-res h1,
	.login-form-res h1 {
		text-align: center;
		font-size: 25px;
		color: var(--primary-color);
		font-weight: 700;
	}
	.login-form-res h2 {
		text-align: center;
		font-size: 20px;
		padding: 20px 0;
		font-weight: 300;
		line-height: 1.2;
	}
	.success {
		background-color: #03e260;
		color: rgb(26, 153, 1);
		width: 100%;
		padding: 15px 10px;
		font-size: 14px;
		margin-bottom: 20px;
		border-radius: 3px;
	}
	.wrong {
		background-color: #fbb7b7;
		color: rgb(114, 3, 3);
		width: 100%;
		padding: 15px 10px;
		font-size: 14px;
		margin-bottom: 20px;
		border-radius: 3px;
	}
	.register-container-res form,
	.login-form-res form {
		display: flex;
		flex-direction: column;
	}
	.register-container-res input,
	.login-form-res input {
		padding: 15px;
		margin-bottom: 10px;
		border: 1px solid #eaebf3;
		box-shadow: none;
		border-radius: 3px;
	}
	.register-container-res input:focus,
	.login-form-res input:focus {
		outline: none;
	}
	.error p {
		margin: 0;
		font-size: 12px;
		color: red;
		margin-bottom: 10px;
	}
	.register-container-res button,
	.login-form-res button {
		background-color: var(--primary-color);
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		border: none;
		outline: none;
		padding: 15px;
		border-radius: 3px;
		cursor: pointer;
	}
	.register-container-res span,
	.login-form-res span {
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
		font-size: 14px;
	}
	.register-container-res a,
	.login-form-res a {
		margin-left: 5px;
		color: var(--primary-color);
		cursor: pointer;
	}
	/* register-form-res */
	.register-container {
		display: none;
	}
}

@media (min-width: 740px) and (max-width: 1023px) {
	/* container */
	.container {
		margin-top: 54px;
		margin-bottom: 60px;
		top: 0;
	}
	.list-service {
		flex-wrap: wrap;
		max-width: 720px;
		margin: 0 auto;
		padding: 0;
	}
	.list-service_items {
		padding: 10px 20px;
	}
	.Featured-category {
		max-width: 720px;
		margin: 0 auto;
	}
	.featured-category_list {
		padding: 0;
	}
	.featured-category_list-items span {
		min-height: 36px;
	}
	.products-banner {
		display: none;
	}
	.title-block {
		display: none;
	}
	.register-container-res,
	.login-form-res {
		margin: 0 auto;
		background-color: #fff;
		padding: 50px 150px;
	}
	.suggestion {
		max-width: 720px;
		margin: 0 auto;
		padding: 20px 0;
		text-align: center;
		color: var(--primary-color);
	}
	.products {
		max-width: 720px;
		margin: 0 auto;
	}
	/* footer */
	.footer-container {
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	.respon-tablet-1 {
		width: 100%;
	}
	.respon-tablet-2,
	.respon-tablet-3,
	.respon-tablet-4 {
		flex: 1;
		margin-top: 20px;
	}

	/* list products */
	.container-content_products {
		display: block;
	}
	.container-content_products-cate {
		display: flex;
		flex-direction: column;
	}
	.container-content_products-list {
		margin-left: 0;
	}
	.grid.wide {
		width: 100%;
	}

	/* detail product */
	.container-content {
		padding-top: 20px;
		max-width: 720px;
		margin: 0 auto;
	}
	.container-content_product {
		flex-direction: column;
	}
	.container-content_product-slide {
		position: initial;
	}
	.container-content_product-detail {
		margin-left: 0;
		margin-top: 20px;
	}
	.buy-now {
		flex: 3;
	}
	.container-detail-img div {
		width: 100%;
	}

	/* cart */
	.cart-container-content {
		max-width: 720px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 739px) {
	.header_navbar {
		padding: 0 20px;
	}
	.header_navbar-logo {
		flex: 2;
	}
	.container {
		margin-top: 54px;
		margin-bottom: 60px;
		top: 0;
	}

	.list-service,
	.Featured-category,
	.products-banner,
	.search-trends,
	.tabs-buttons,
	.mySwiper2,
	.title-block {
		display: none;
	}
	.register-container-res,
	.login-form-res {
		margin: 0 auto;
		background-color: #fff;
		padding: 50px;
	}

	/* ----------- */
	.section-intro {
		display: block;
		padding: 0 10px;
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 5px solid #f2f3f7;
	}
	.section-intro-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.section-intro-cate {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	.section-intro-cate div {
		width: 25px;
		height: 25px;
	}
	.section-intro-cate div img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.section-intro-cate h1 {
		margin: 0;
		font-size: 14px;
		margin-top: 10px;
		margin-left: 5px;
		color: #cd151c;
	}
	.section-intro-title a {
		font-size: 14px;
		color: var(--primary-color);
	}
	.products_items-card {
		width: 100%;
	}
	.products_items-card-img::before {
		content: "-9%";
		position: absolute;
		top: 10px;
		left: 0;
		z-index: 3;
		line-height: 20px;
		width: 30px;
		color: #fff;
		background-image: url(//bizweb.dktcdn.net/100/438/408/themes/863105/assets/sale_tag.svg?1663124131542);
		font-size: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		padding-left: 12px;
		text-align: left;
	}
	.btn-buy-section-intro {
		bottom: -2px;
		right: -12px;
	}
	.products_items-card-name {
		text-align: left;
	}
	.products_items-card-price {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		flex-wrap: wrap;
	}
	.old-price {
		margin-left: 0;
	}

	.products_items-card-option-img {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	/* ------------ */
	.products {
		padding: 0 20px;
	}
	.section-products {
		margin-top: 10px;
		justify-content: center;
	}
	.cate-product-list-hot {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.cate-product-hot {
		display: flex;
		align-items: center;
		background-color: #fff9e9;
		padding: 5px 20px;
		margin-bottom: 10px;
		border-radius: 6px;
		margin-right: 5px;
	}
	.cate-product-hot div {
		width: 30px;
		height: 30px;
	}
	.cate-product-hot div img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.cate-product-hot span {
		font-size: 14px;
		margin-left: 10px;
		color: #2a2a86;
		font-weight: 500;
	}

	/* cart */
	.cart-container-content {
		max-width: 720px;
		margin: 0 auto;
		padding: 0 20px;
		display: flex;
		flex-direction: column;
	}
	.cart-products-list-title {
		display: none;
	}
	.cart-products-item {
		flex-direction: column;
	}
	.product-info {
		flex: 4;
		justify-content: initial;
	}
	.product-cate {
		color: #8a8a8f;
		padding: 5px 0;
	}
	.amount-web {
		display: none;
	}
	.amount-res {
		display: block;
		margin-left: 0;
		font-size: 14px;
	}
	.product-price {
		display: none;
	}
	/*-------------*/

	.footer {
		padding: 0 20px;
	}
	.footer-container {
		flex-direction: column;
	}
	.logo-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-container-col {
		margin-right: 0;
	}
	.footer-container-col p {
		margin: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		text-align: center;
		border-bottom: 0.5px solid #42426f;
		line-height: 1.5;
	}
	.footer-container-col h1 {
		margin-top: 10px;
	}
	.footer-container-col h1 {
		text-align: center;
	}
	.footer-input input {
		padding: 17px 25px 15px 20px;
		font-size: 14px;
	}
	.footer-social {
		display: none;
	}
	.respon-tablet-2,
	.respon-tablet-3 {
		padding-bottom: 15px;
		border-bottom: 0.5px solid #42426f;
		text-align: center;
	}
	.footer-container-col-info {
		flex-direction: column;
		text-align: center;
	}

	/* list-products */
	.container-content_products {
		display: flex;
		flex-direction: column;
	}
	.container-content_products-cate {
		display: flex;
		flex-direction: column;
	}
	.amount-products {
		display: none;
	}
	.container-content_products-list-title-sort {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 2px solid #f2f3f7;
	}
	.container-content_products-list-title-sort span {
		flex: 1;
	}
	.select {
		flex: 3;
	}
	.container-content_products-list {
		margin-left: 0;
	}
	.container-content_products-list-products {
		margin-top: 20px;
	}
	.mobile-card::before {
		display: none;
	}
	.mobile-card-option {
		justify-content: start;
	}
	.img-mobile-option {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	/* detail-product */
	.container-content {
		margin: 0 20px;
		margin-top: 75px;
	}
	.container-content_product {
		flex-direction: column;
	}
	.container-content_product-slide {
		display: none;
	}
	.slide-mobile {
		display: block;
	}
	.container-content_product-detail {
		margin-left: 0;
		margin-top: 20px;
		width: 100%;
	}
	.help-size {
		display: none;
	}
	.product-size-option {
		flex-wrap: wrap;
	}
	.size-option {
		margin-bottom: 10px;
	}
	.container-content_product-detail-buy {
		flex-direction: column;
	}
	.buy-now {
		flex: 1;
		margin-right: 0;
		padding: 15px 0;
		margin-bottom: 10px;
	}
	.add-cart {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}
	.add-cart div {
		margin-right: 10px;
	}
	.title-service {
		font-size: 11px;
	}
	.service-sumary {
		font-size: 10px;
	}
	.container-detail-img div {
		width: 100%;
	}
	/* user */
	.user-container {
		flex-direction: column;
		padding: 50px 0;
	}
	.column-account {
		width: auto;
	}
}
